<ul>
  <% @tasks.each do |task| %>
    <li><%= "#{task.completed ? "✅" : "❎"} - "%><a href="<%= task_path(task.id) %>"><%= "#{task.title}" %></a> <a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="<%= "/tasks/#{task.id}"%>">🗑</a></li>
  <% end %>
</ul>

<%= link_to "Add New Task", new_task_path %>