<h2><%= @task.title %></h2>
<div class="task-details">
  <p><%= @task.details %></p>
</div>

<p><%= "#{@task.completed ? "✅ - This task is completed" : "❎ - This task is not completed yet"}" %></p>

<%= link_to "Edit Task", edit_task_path(@task.id) %>
<%= link_to "Back to Task List", tasks_path %>